.how-to-image > img{
	height: 200px;
	text-align: center;
	margin: 0 auto;
	display: block;
}

.featured-box-col2 {
	padding: 40px 10px;
	display: inline-block;
}

.how-to-illus {
	padding: 0 120px;
}

@media only screen and (max-width: 768px) {
	.how-to-illus {
		padding: 50px 0px;
	}
}

body {
	overflow-x: hidden !important;
	margin: 0 auto;
}

.bizz-content{
	margin: 0 auto;
	position: relative;
	display: block;
}

.bizz-buy{
	color: rgba(118, 76, 41,0.78);
	padding: 0px 3px;
	text-decoration: underline;
}

.bizz-buy:hover, .bizz-buy:active{
	text-decoration: none;
}

.clients-text-container{
	display: block;
}

@media (max-width: 768px) {
	.login-button{
		font-size: small!important;
	}
	.bizztext{
		font-size: 11px;
	}
}

.item{
	padding: 10px 25px;
}

.asso{
	margin-top: -10px;
}

.asso-img{
	margin: 10px;
}

header .form-logo{
	width:100px;
	height:auto;
	margin: 25px auto;
    position: relative;
    display: block;
}

.form .input-group{
	padding: 15px;
}

.btn-plants-filter{
	margin: auto;
	display: inline-block;
	border: 0;
    background: #f2f2f2;
	margin:10px;
}

.btn-plants-filter:hover, .btn-plants-filter:active,.btn-plants-filter:focus,.btn-plants-filter:visited {
	background: rgba(140, 198, 63, 0.78);
	color:#fff;
	border:0;
	outline: none;	
}

.filter-btns{
	display: table;
	margin: 0 auto;
}

.plants-item{
	padding:25px 10px;
	background-color: rgba(140, 198, 63, 0.78);
	color:#fff;
	font-size: 18px;
	border-radius: 3px;
	margin:5px;
}

.plants-item p{
	text-align: center;
	display: block;
	font-weight:800;
}

.plants-item i{
	text-align: center;
	display: block;
	font-size: 48px;
}

.plants-list{
	list-style: none;
    text-align: center;
    font-size: 20px;
    padding: 0 10px;
}

.plants-list li{
	padding: 5px 0;
}

.modal-header{
	border-color:#efefef!important;
	background-color:#efefef; 
}
.modal{
	font-family: 'Nunito','Montserrat', sans-serif;
}
.modal-title{
	text-align: center;
	font-size: 22px;
	color:#8CC640;
	font-family: 'Nunito','Montserrat', sans-serif;
}

.close{
	font-size: 30px;
}
