

.submit {
    position: relative;
    padding: 10px 20px;
    background: rgba(140, 198, 63, 0.78);
    color: #fff !important;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    display: inline-block;
    border-radius: 3px;
    text-transform: uppercase;
    line-height: 25px;
    margin-bottom: 20px;
    top: 30px;
    left: 93px;
}
.logo {
    position: relative;
    left: 480px;
    top: 13px;
    height: 310px;
    width: 350px;
}
.name{
	font-family: 'Montserrat',sans-serif;
	font-size:20px;
	font-weight:400;
	height:40px;
	padding-left: 20px;
	border-radius: 5px;
	width:320px;
	letter-spacing: -1px;
	margin:0 0 22px 0 ;
	color:black;
}
.phone{
	font-family: 'Montserrat',sans-serif;
	font-size:20px;
	font-weight:400;
	height:40px;
	padding-left: 20px;
	border-radius: 5px;
	width:320px;
	letter-spacing: -1px;
	margin:0 0 22px 0 ;
	color:black;
}
.dd1 {
    position: relative;
    left: 4px;
    height: 45px;
    width: 321px;
    padding-left: 5px;
    font-size: 20px;
    border-radius: 5px;
}
.email{
	font-family: 'Montserrat',sans-serif;
	font-size:20px;
	font-weight:400;
	height:40px;
	padding-left: 20px;
	border-radius: 5px;
	width:320px;
	letter-spacing: -1px;
	margin:0 0 22px 0 ;
	color:black;
}
#label	{
	font-size: 20px;
	font-family: 'Montserrat',sans-serif;
}
#pack {
    position: relative;
    left: 500px;
    top: 12px;
}